<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>登录页面</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.css}"/>
    <script type="application/javascript" src="/static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="application/javascript" src="/static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="application/javascript" src="/static/layer/layer.js" th:src="@{/layer/layer.js}"></script>
    <style>

        .banner {
            color: #666;
        }

        #btnBig {
            width: 349px;
        }
    </style>
</head>
<body>
<div class="container" style="width: 60%;">
    <div class="row clearfix">
        <div class="col-md-12 banner">
            <div class="page-header">
                <h1 class="titleReg" style="display: none;">
                    <span class="glyphicon glyphicon-th-list"></span> 注册账号
                    <span style="float: right; font-size: 13px;">我已注册,现在就
                        <button class="btn btn-default btnGo" data-toggle="tooltip" data-placement="bottom" title="登录"
                                onclick="doLoginNow()">登录</button>
                    </span>
                </h1>

                <h1 class="titleLogin">
                    <span class="glyphicon glyphicon-th"></span> 登录
                    <span style="float: right; font-size: 13px;">还没账号,现在就
                        <button class="btn btn-default btnGo" data-toggle="tooltip" data-placement="bottom" title="注册"
                                onclick="doRegister()">注册</button>
                    </span>

                </h1>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <!--数据表单-->
            <form class="form-horizontal" role="form">
                <!-- 用户名 -->
                <div class="form-group has-feedback">
                    <label for="username" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="username" name="username" value="41381772"
                               placeholder="请输入您的真实姓名" autocomplete="off" required>
                        <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <!-- 注册-手机号 -->
                <div class="form-group regPhone" style="display: none;">
                    <label for="phone" class="col-sm-2 control-label">手机号</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="phone" name="phone"
                               placeholder="可用于登录和设置密码" autocomplete="off" required>
                    </div>
                </div>
                <!-- 密码 -->
                <div class="form-group has-feedback">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="password" name="password" value="41381772"
                               placeholder="请输入密码" required>
                        <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <!-- 注册-确认密码 -->
                <div class="form-group regConfirm" style="display: none;">
                    <label for="confirmPwd" class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="confirmPwd" name="confirmPassword"
                               placeholder="请再次输入密码" required>
                    </div>
                </div>
                <!--验证码-->
                <div class="form-group">
                    <label for="verifyCode" class="col-sm-2 control-label">验证码</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="verifyCode" name="captcha" value="JETB"
                               placeholder="请输入验证码">
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><img src="/static/images/JETB.jpg" th:src="@{/images/JETB.jpg}"  alt="unknown" width="85px" height="32px"/></a>
                        <span style="font-size: 11px; margin-left: 10px;">
                            <a href="#">看不清?换一张 </a>
                        </span>
                    </div>

                </div>
                <!--注册-协议-->
                <div class="form-group regProtocol" style="display: none;">
                    <div class="col-xs-offset-2 col-sm-4 checkbox">
                        <label>
                            <input type="checkbox" name="regProtocol" checked="checked">
                            <span style="font-size: 10px;">
                                    阅读并接受<a href="#">《用户协议》</a>及<a
                                    href="#">《隐私权保护声明》</a>
                                </span>
                        </label>
                    </div>

                </div>

                <!--记住我-->
                <div class="form-group has-success loginRemember">
                    <div class="col-xs-offset-2 col-sm-4 checkbox">
                        <label>
                            <input type="checkbox" id="rem" name="rememberMe" checked="checked"> <span
                                data-toggle="tooltip" title="记住我!">记住我</span>
                        </label>
                    </div>

                </div>
                <!--表单按钮-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="btnBig" class="btn btn-primary btnLogin" onclick="login()">登录
                        </button>

                        <h6 class="bigBtnDown">
                            <a th:href="@{/forgetPwd}" data-toggle="tooltip" data-placement="bottom"
                               title="忘记密码!">忘记密码?</a>
                        </h6>

                    </div>
                </div>
                <!--  忘记密码与第三方登录-->
                <div class="form-group">
                    <label for="other" class="col-sm-2 control-label"></label>
                    <div class="col-sm-5">
                        <div id="other" style="margin: 0 auto">
                            <span style="margin:0px 20px 40px">
                                <a href="https://github.com/login/oauth/authorize?client_id=c4bb3fcaa494d4a6a120&redirect_uri=http://localhost:8887/callback&scope=user&state=1" data-toggle="tooltip" data-placement="right" title="github">
                                    <img src="/static/images/GitHub48x48.png" alt="not"
                                         th:src="@{/images/GitHub48x48.png}"></a>
                            </span>
                            <span style="margin:0px 40px">
                                <a href="https://gitee.com/oauth/authorize?client_id=38683ceca6a16edb1e8790730805c72f4e9f83e06b0c41215da28d5a056ff03f&redirect_uri=http://localhost:8887/callbackToMY&response_type=code" data-toggle="tooltip"data-placement="right"  title="码云"><img src="/static/images/gitee48x48.png" alt="not"
                                                   th:src="@{/images/gitee48x48.png}"></a>
                            </span>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>
<script src="/static/js/login.js" th:src="@{/js/login.js}"></script>
</body>
</html>
