<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlx.majiang.dao.QuestionMapper">
    <resultMap id="BaseResultMap" type="com.xlx.majiang.entity.Question">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="COMMENT_COUNT" jdbcType="INTEGER" property="commentCount"/>
        <result column="VIEW_COUNT" jdbcType="INTEGER" property="viewCount"/>
        <result column="LIKE_COUNT" jdbcType="INTEGER" property="likeCount"/>
        <result column="TAG" jdbcType="VARCHAR" property="tag"/>
        <result column="CREATOR" jdbcType="BIGINT" property="creator"/>
        <result column="GMT_CREATE" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="GMT_MODIFIED" jdbcType="BIGINT" property="gmtModified"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xlx.majiang.entity.Question">
        <result column="DESCRIPTION" jdbcType="CLOB" property="description"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        ID, TITLE, COMMENT_COUNT, VIEW_COUNT, LIKE_COUNT, TAG, CREATOR, GMT_CREATE, GMT_MODIFIED
    </sql>
    <sql id="Blob_Column_List">
        DESCRIPTION
    </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.xlx.majiang.entity.QuestionExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from QUESTION
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.xlx.majiang.entity.QuestionExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from QUESTION
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from QUESTION
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from QUESTION
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.xlx.majiang.entity.QuestionExample">
        delete from QUESTION
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.xlx.majiang.entity.Question">
        insert into QUESTION (ID, TITLE, COMMENT_COUNT,
                              VIEW_COUNT, LIKE_COUNT, TAG,
                              CREATOR, GMT_CREATE, GMT_MODIFIED,
                              DESCRIPTION)
        values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{commentCount,jdbcType=INTEGER},
                #{viewCount,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR},
                #{creator,jdbcType=BIGINT}, #{gmtCreate,jdbcType=BIGINT}, #{gmtModified,jdbcType=BIGINT},
                #{description,jdbcType=CLOB})
    </insert>
    <insert id="insertSelective" parameterType="com.xlx.majiang.entity.Question">
        insert into QUESTION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="title != null">
                TITLE,
            </if>
            <if test="commentCount != null">
                COMMENT_COUNT,
            </if>
            <if test="viewCount != null">
                VIEW_COUNT,
            </if>
            <if test="likeCount != null">
                LIKE_COUNT,
            </if>
            <if test="tag != null">
                TAG,
            </if>
            <if test="creator != null">
                CREATOR,
            </if>
            <if test="gmtCreate != null">
                GMT_CREATE,
            </if>
            <if test="gmtModified != null">
                GMT_MODIFIED,
            </if>
            <if test="description != null">
                DESCRIPTION,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="commentCount != null">
                #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="viewCount != null">
                #{viewCount,jdbcType=INTEGER},
            </if>
            <if test="likeCount != null">
                #{likeCount,jdbcType=INTEGER},
            </if>
            <if test="tag != null">
                #{tag,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=BIGINT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=CLOB},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.xlx.majiang.entity.QuestionExample" resultType="java.lang.Long">
        select count(*) from QUESTION
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update QUESTION
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.title != null">
                TITLE = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.commentCount != null">
                COMMENT_COUNT = #{record.commentCount,jdbcType=INTEGER},
            </if>
            <if test="record.viewCount != null">
                VIEW_COUNT = #{record.viewCount,jdbcType=INTEGER},
            </if>
            <if test="record.likeCount != null">
                LIKE_COUNT = #{record.likeCount,jdbcType=INTEGER},
            </if>
            <if test="record.tag != null">
                TAG = #{record.tag,jdbcType=VARCHAR},
            </if>
            <if test="record.creator != null">
                CREATOR = #{record.creator,jdbcType=BIGINT},
            </if>
            <if test="record.gmtCreate != null">
                GMT_CREATE = #{record.gmtCreate,jdbcType=BIGINT},
            </if>
            <if test="record.gmtModified != null">
                GMT_MODIFIED = #{record.gmtModified,jdbcType=BIGINT},
            </if>
            <if test="record.description != null">
                DESCRIPTION = #{record.description,jdbcType=CLOB},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update QUESTION
        set ID = #{record.id,jdbcType=BIGINT},
        TITLE = #{record.title,jdbcType=VARCHAR},
        COMMENT_COUNT = #{record.commentCount,jdbcType=INTEGER},
        VIEW_COUNT = #{record.viewCount,jdbcType=INTEGER},
        LIKE_COUNT = #{record.likeCount,jdbcType=INTEGER},
        TAG = #{record.tag,jdbcType=VARCHAR},
        CREATOR = #{record.creator,jdbcType=BIGINT},
        GMT_CREATE = #{record.gmtCreate,jdbcType=BIGINT},
        GMT_MODIFIED = #{record.gmtModified,jdbcType=BIGINT},
        DESCRIPTION = #{record.description,jdbcType=CLOB}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update QUESTION
        set ID = #{record.id,jdbcType=BIGINT},
        TITLE = #{record.title,jdbcType=VARCHAR},
        COMMENT_COUNT = #{record.commentCount,jdbcType=INTEGER},
        VIEW_COUNT = #{record.viewCount,jdbcType=INTEGER},
        LIKE_COUNT = #{record.likeCount,jdbcType=INTEGER},
        TAG = #{record.tag,jdbcType=VARCHAR},
        CREATOR = #{record.creator,jdbcType=BIGINT},
        GMT_CREATE = #{record.gmtCreate,jdbcType=BIGINT},
        GMT_MODIFIED = #{record.gmtModified,jdbcType=BIGINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.xlx.majiang.entity.Question">
        update QUESTION
        <set>
            <if test="title != null">
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="commentCount != null">
                COMMENT_COUNT = #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="viewCount != null">
                VIEW_COUNT = #{viewCount,jdbcType=INTEGER},
            </if>
            <if test="likeCount != null">
                LIKE_COUNT = #{likeCount,jdbcType=INTEGER},
            </if>
            <if test="tag != null">
                TAG = #{tag,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                CREATOR = #{creator,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                GMT_CREATE = #{gmtCreate,jdbcType=BIGINT},
            </if>
            <if test="gmtModified != null">
                GMT_MODIFIED = #{gmtModified,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=CLOB},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xlx.majiang.entity.Question">
        update QUESTION
        set TITLE         = #{title,jdbcType=VARCHAR},
            COMMENT_COUNT = #{commentCount,jdbcType=INTEGER},
            VIEW_COUNT    = #{viewCount,jdbcType=INTEGER},
            LIKE_COUNT    = #{likeCount,jdbcType=INTEGER},
            TAG           = #{tag,jdbcType=VARCHAR},
            CREATOR       = #{creator,jdbcType=BIGINT},
            GMT_CREATE    = #{gmtCreate,jdbcType=BIGINT},
            GMT_MODIFIED  = #{gmtModified,jdbcType=BIGINT},
            DESCRIPTION   = #{description,jdbcType=CLOB}
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xlx.majiang.entity.Question">
        update QUESTION
        set TITLE         = #{title,jdbcType=VARCHAR},
            COMMENT_COUNT = #{commentCount,jdbcType=INTEGER},
            VIEW_COUNT    = #{viewCount,jdbcType=INTEGER},
            LIKE_COUNT    = #{likeCount,jdbcType=INTEGER},
            TAG           = #{tag,jdbcType=VARCHAR},
            CREATOR       = #{creator,jdbcType=BIGINT},
            GMT_CREATE    = #{gmtCreate,jdbcType=BIGINT},
            GMT_MODIFIED  = #{gmtModified,jdbcType=BIGINT}
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.xlx.majiang.entity.QuestionExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from QUESTION
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExampleWithRowbounds" parameterType="com.xlx.majiang.entity.QuestionExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from QUESTION
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <!--带条件统计记录数-->
    <select id="selectCount" parameterType="com.xlx.majiang.dto.QuestionQueryDTO" resultType="java.lang.Integer">
        select count(1) from QUESTION
        <where>
            <if test="search != null and search != ''">
                TITLE regexp #{search}
            </if>
            <if test="tag != null and tag != ''">
                and tag regexp #{tag}
            </if>
            <if test="sort != null and sort == 'zero'">
                and comment_count = 0
            </if>
            <if test="time != null and time != ''">
                and gmt_create = #{time}
            </if>
        </where>
    </select>

    <!--带条件查询记录-->
    <select id="selectBySearch" parameterType="com.xlx.majiang.dto.QuestionQueryDTO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from QUESTION
        <where>
            <if test="search != null and search != ''">
                title regexp #{search}
            </if>
            <if test="tag != null and tag != ''">
                and tag regexp #{tag}
            </if>
            <if test="sort != null and sort == 'zero'">
                and comment_count = 0
            </if>
            <if test="time != null and time != ''">
                and gmt_create = #{time}
            </if>
        </where>

        <choose>
            <when test="sort != null and sort != '' and sort=='new'">
                order by gmt_create desc
            </when>

            <when test="sort != null and sort != '' and sort=='zero'">
                order by gmt_create desc
            </when>
            <when test="sort != null and sort != '' and (sort == 'hotest' || sort == 'hot7' || sort == 'hot30')">
                order by comment_count desc
            </when>
            <otherwise>
                order by gmt_create desc
            </otherwise>
        </choose>
        limit #{offset,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
    </select>
</mapper>